<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Live Preview Test</title>
    <meta name="description" content="Live Preview test app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="candyBar/candyBar.min.css">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Miniver' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>
    <div class="frame">
      <div ng-app="myApp"  ng-controller="NamesController">
        <div id="selector" class="bar-3">
          <form novalidate>
            First Name:<br>
            <input type="text" ng-model="firstname"><br>
            Last Name:<br>
            <input type="text" ng-model="lastname"><br><br>
            <button ng-click="update()">Update</button><br>
            <label for="fontselect">Select Font:</label><br>
            <select name="fontselect" ng-model="myFont" ng-options="font for font in myFonts"></select><br>
            <label for="colorselect">Select Background color:</label><br>
            <select name="colorselect" ng-model="myColor" ng-options="color for color in bgColors"></select>
          </form>
          <h2>Preview info:</h2>
          <h4>Name</h4>
          <ul>
            <li ng-repeat="name in names">
              <span>{{name.first}}</span>
              <p>{{name.last}}</p>
            </li>
          </ul><br>
          <h4>Font</h4>
          <p>{{myFont}}</p><br>
          <h4>Background Color</h4>
          <p>{{myColor}}</p>
        </div>
        <div id="view" ng-style="{'background-color': myColor}" class="bar-2 display">
          <div class="frame">
            <div class="bar-3" ng-repeat="name in names" ng-style="{'font-family': myFont}">
              <p class="firstname">
                {{name.first}}
              </p>
              <p class="lastname">
                {{name.last}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
