body {
  background-color: #F8F8FF
}
.display {
  height: 600px;
/*  background-color: #B3ECFF;*/
  display: inline-block;
  box-shadow:
    -webkit-box-shadow: -10px 10px 6px -6px #777;
       -moz-box-shadow: -10px 10px 6px -6px #777;
            box-shadow: -10px 10px 6px -6px #777;
}
